server {
    listen 80;
    server_name ${NGINX_SERVER_NAME};
    root /var/www/app;

    include /etc/nginx/mime.types;
    index  index.html index.htm;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
